language: go
go:
    - 1.7.x
    - 1.8.x
    - tip
install:
    - go get golang.org/x/tools/cmd/cover
    - go get github.com/mattn/goveralls
    - go get github.com/modocache/gover
script:
    - go test -coverprofile=armor.coverprofile
    - go test -coverprofile=http.coverprofile ./http
    - go test -coverprofile=plugin.coverprofile ./plugin
    - go test -coverprofile=cmd.coverprofile ./cmd/armor
    - gover
    - goveralls -coverprofile=gover.coverprofile -service=travis-ci
matrix:
  allow_failures:
    - go: tip
