{{ partial "head.html" . }}
<body class="docs">
	{{ partial "topnav.html" . }}
  <div class="w3-content">
    {{ partial "sidenav.html" . }}
    <div class="main">
      {{ partial "ad.html" }}
      <div class="w3-row-padding">
        <div class="w3-col s12 m10 l10">
          {{ partial "notice.html" }}
          <article class="content">
            <section>
              {{ $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
              {{ $.Scratch.Add "path" .Site.BaseURL }}
              <ul class="breadcrumb">
                <!-- <li><a href="/">home</a></li> -->
                {{ range $index, $element := split $url "/" }}
                {{ $.Scratch.Add "path" $element }}
                {{ if ne $element "" }}
                <li><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
                {{ $.Scratch.Add "path" "/" }}
                {{ end }}
                {{ end }}
              </ul>
              <h1>{{ .Title }}</h1>
              {{ .Content }}
            </section>
            <footer>
              Caught a mistake?
              <a 
                href="https://github.com/labstack/echox/blob/master/website/content/{{ .File.Path }}">
                <i class="far fa-edit"></i> Edit this page on GitHub!
              </a>
              <hr>
              <h2>
                <a href="https://forum.labstack.com">Forum</a> ✧
                <a href="https://gitter.im/labstack/armor">Chat</a>
              </h2>
            </footer>
          </article>
        </div>
      </div>
	    {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>
