<footer class="w3-content w3-container w3-padding-48 w3-center footer">
  <p>
    <strong>Armor</strong> by <a href="https://labstack.com">LabStack</a> © 2017 LabStack
  </p>
  <p>
    <a class="icon" href="https://labstack.com/blog">
      <i class="fas fa-rss"></i>
    </a>
    <a class="icon" href="https://github.com/labstack">
      <i class="fab fa-github"></i>
    </a>
    <a class="icon" href="https://facebook.com/labstack">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="icon" href="https://twitter.com/labstack">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="icon" href="https://plus.google.com/+labstack">
      <i class="fab fa-google-plus-g"></i>
    </a>
    <a class="icon" href="mailto:hello@labstack.com?Subject=Hello" target="_top">
      <i class="far fa-envelope"></i>
    </a>
  </p>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://cdn.labstack.com/scripts/prism.js"></script>
<script src="https://cdn.labstack.com/scripts/base.js"></script>
{{ template "_internal/google_analytics.html" . }}
