<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ if ne .URL "/" }}{{ .Description }} | {{ end }}{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@armor">
  <meta name="twitter:creator" content="@labstack">
  <meta name="twitter:title" content="{{ if ne .URL "/" }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ if ne .URL "/" }}{{ .Description }} | {{ end }}{{ .Site.Params.description }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}images/share.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ .Title }}">
  <meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
  <meta property="og:site_name" content="armor">
  <meta property="og:description" content="{{ if ne .URL "/" }}{{ .Description }} | {{ end }}{{ .Site.Params.description }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/share.png">
  <title>
    {{ if ne .URL "/" }}{{ .Title }} | {{ end }}{{ .Site.Title }}
  </title>
  <link rel="stylesheet" href="https://cdn.labstack.com/styles/w3.css">
  <link rel="stylesheet" href="https://cdn.labstack.com/styles/prism.css">
  <link rel="stylesheet" href="https://cdn.labstack.com/styles/base.css">
  <link rel="icon"
    type="image/png"
    href="https://cdn.labstack.com/images/labstack-icon.png">
</head>
