<div class="topnav">
  <nav class="w3-content">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Armor"></a>
    <span class="hide-small w3-hide-medium menu">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        <a{{ if or ($currentNode.HasMenuCurrent "main" .) ($currentNode.IsMenuCurrent "main" .) }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      <a href="https://forum.labstack.com">Forum</a>
    </span>
    <button class="hamburger hide-large" onclick="toggleSidenav()">
      <span></span>
    </button>
  </nav>
</div>
